nav {
    background-color:cadetblue;
    padding: 25px;
    text-align: center;
    color: whitesmoke;
}

body {
    background-color: aliceblue;
    margin: 0;
}

a {
    color:white;
    margin: 40px;
    font-size: 1.5em;
    padding: 25px;
}

a:hover {
    background-color: gainsboro;
    color: indigo;
}

h1 {
    margin: 50px;
    color:teal;
    text-align: center;
}

img {
    width: 80%;
    border: 5px solid cadetblue;
    display: block;
    margin: 0 auto;
}

p {
    width: 75%;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
}

footer {
    background-color: cadetblue;
    color: white
}

footer p {
    padding: 25pk;
    font-size: 20px;
    margin: 20px auto;
}

.main-para {
font-size: 1.5em;
line-height: 1.5em;
}

#active{
    background-color: white;
    color:steelblue;
}

